@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Copyright 2011 Enzymatic Software, LLC.  All Rights Reserved. */

/*  The downbar is the entire statusbar that pops up when a download starts */
.db_downbar {
	padding-right:3px;
	overflow:hidden;
	margin:0px;
}

.db_downbarPopup {

}

/*  The progressmeter and filename description are contained within a stack (same attributes as a box)*/
.db_progressStack {
	max-width:135px;
	max-height:20px;
	min-height:20px;
	border: 1px solid threeDShadow;
	-moz-border-radius: 2px;
	margin-top:1px;
	margin-bottom:1px;
	margin-left:2px;
	margin-right:1px;
}

.db_progress-bar {
	background-color: #89AFDB;
	border-right:1px solid red;
}

.db_progress-remainder {
	background-color:white;
}

.db_pauseStack {
	max-width:135px;
	max-height:20px;
	min-height:20px;
	
	border-color:red;
	border-style:solid;
	border-width:1px;
	
	-moz-border-radius: 2px;
	margin-top:1px;
	margin-bottom:1px;
	margin-left:2px;
	margin-right:1px;
}

/* The finished files are contained in this hbox */
.db_finishedHbox {
	max-width:135px;
	max-height:20px;
	min-height:20px;
	-moz-border-radius:2px;
	background-color: #89AFDB;
	border: 1px solid threeDShadow;
	
	margin-top:1px;
	margin-bottom:1px;
	margin-left:2px;
	margin-right:1px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:3px;
	padding-right:0px;
}

/* Canceled (Stopped) downloads */
.db_notdoneHbox {
	max-width:135px;
	max-height:20px;
	min-height:20px; 
	-moz-border-radius:2px;
	background-color: #A3A3A3;
	border:1px solid threeDShadow;
	
	margin-top:1px;
	margin-bottom:1px;
	margin-left:2px;
	margin-right:1px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:3px;
	padding-right:0px;
}

.db_filenameLabel {
	font-size: 9pt;
	text-align: left;
	color:black;
}

/* The box holding the percent and speed numbers */
.db_progressVbox {
	padding:0px;
	margin:0px;
}

.db_progressIndicator {
	font-size: 5pt;
  	text-align: right;
  	margin:0px 3px 0px 0px;
  	padding:0px;
  	font-weight: bold;
}

.db_finishedIcon {
	max-height:16px;
	max-width:16px;
	margin-top:0px;
	margin-bottom:0px;
	padding-top:0px;
	padding-bottom:0px;
	vertical-align:baseline;
}	

#downbar > stack:hover {
	border:1px #000080 solid;
}

#downbarMini {
	padding-left:1px;
	padding-right:1px;
}

#downbarMiniImage {
	list-style-image: url("chrome://downbar/skin/download_manager.png");
	height:16px;
}

#downbarMainMenuImage {
	list-style-image: url("chrome://downbar/skin/download_manager_wide.png");
	margin-left:2px;
	margin-right:0px;
}

#downbarHolder {
	border-top: 1px solid ThreeDShadow;
	margin:0px;
	padding:0px;
}

#downbarMainMenuButton {
	-moz-border-radius: 2px;
	border: 1px solid transparent;
	border-right: 1px solid ThreeDShadow;
	margin-right: 2px;
	margin-left: 1px;
	background:-moz-linear-gradient(top, rgba(255, 255, 255, .8), rgba(248, 248, 248, 0.6), rgba(240, 240, 240, 0.8), rgba(240, 240, 240, 0.5));
	/*background-image: url("chrome://downbar/skin/buttonBackground.png");*/
}

#downbarMainMenuButton:hover {
	
	border: 1px solid threeDShadow;
	background:-moz-linear-gradient(top, rgba(240, 240, 240, .8), rgba(240, 240, 240, 0.4), rgba(210, 210, 210, 0.8), rgba(210, 210, 210, 0.5));
	/*background-color: transparent;
	background-image: url("chrome://downbar/skin/buttonBackgroundHover.png");*/

} 

#downbarClearButton {
	-moz-border-radius: 2px;
	padding-left: 2px;
	border: 1px solid transparent;
	border-left: 1px solid ThreeDShadow;
	margin-right: 1px;
	background:-moz-linear-gradient(top, rgba(255, 255, 255, .8), rgba(248, 248, 248, 0.6), rgba(240, 240, 240, 0.8), rgba(240, 240, 240, 0.5));
	/*background-image: url("chrome://downbar/skin/buttonBackground.png");*/
}

#downbarClearButton:hover {
	border: 1px solid ThreeDShadow;
	background:-moz-linear-gradient(top, rgba(240, 240, 240, .8), rgba(240, 240, 240, 0.4), rgba(210, 210, 210, 0.8), rgba(210, 210, 210, 0.5));
	/*background-image: url("chrome://downbar/skin/buttonBackgroundHover.png");*/
}

#downbarToMiniButton {
	-moz-border-radius: 2px;
	padding-left: 2px;
	border: 1px solid transparent;
	border-left: 1px solid ThreeDShadow;
	margin-right: 1px;
	background:-moz-linear-gradient(top, rgba(255, 255, 255, .8), rgba(248, 248, 248, 0.6), rgba(240, 240, 240, 0.8), rgba(240, 240, 240, 0.5));
	/*background-image: url("chrome://downbar/skin/buttonBackground.png");*/
}

#downbarToMiniButton:hover {
	-moz-border-radius: 2px;
	border-left: 1px solid ThreeDShadow;
	padding-left: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
	border: 1px solid ThreeDShadow;
	margin-right: 1px;
	background:-moz-linear-gradient(top, rgba(240, 240, 240, .8), rgba(240, 240, 240, 0.4), rgba(210, 210, 210, 0.8), rgba(210, 210, 210, 0.5));
	/*background-image: url("chrome://downbar/skin/buttonBackgroundHover.png");*/
}

#downbarToFullButton {
	-moz-border-radius: 2px;
	border-left: 1px solid ThreeDShadow;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 0px solid transparent;

	border-right: 1px solid ThreeDShadow;
	margin-right: 1px;
	background:-moz-linear-gradient(top, rgba(255, 255, 255, .8), rgba(248, 248, 248, 0.6), rgba(240, 240, 240, 0.8), rgba(240, 240, 240, 0.5));
	/*background-image: url("chrome://downbar/skin/buttonBackground.png");*/
}

#downbarToFullButton:hover {
	-moz-border-radius: 2px;
	border-left: 1px solid ThreeDShadow;
	padding-left: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
	border: 1px solid ThreeDShadow;
	margin-right: 1px;
	background:-moz-linear-gradient(top, rgba(240, 240, 240, .8), rgba(240, 240, 240, 0.4), rgba(210, 210, 210, 0.8), rgba(210, 210, 210, 0.5));
	/*background-image: url("chrome://downbar/skin/buttonBackgroundHover.png");*/
}

#downbarClearButtonMini {
	-moz-border-radius: 2px;
	border-left: 1px solid ThreeDShadow;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 0px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	margin-right: 1px;
	background:-moz-linear-gradient(top, rgba(255, 255, 255, .8), rgba(248, 248, 248, 0.6), rgba(240, 240, 240, 0.8), rgba(240, 240, 240, 0.5));
	/*background-image: url("chrome://downbar/skin/buttonBackground.png");*/
}

#downbarClearButtonMini:hover {
	-moz-border-radius: 2px;
	border-left: 1px solid ThreeDShadow;
	padding-left: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
	border: 1px solid ThreeDShadow;
	margin-right: 1px;
	background:-moz-linear-gradient(top, rgba(240, 240, 240, .8), rgba(240, 240, 240, 0.4), rgba(210, 210, 210, 0.8), rgba(210, 210, 210, 0.5));
	/*background-image: url("chrome://downbar/skin/buttonBackgroundHover.png");*/
}


/*
#downbarClearButtonImage {
	list-style-image: url("chrome://downbar/skin/download_manager.png");
}

#downbarToMiniButtonImage {
	list-style-image: url("chrome://downbar/skin/download_manager.png");
}
*/

.fintip_transparent {
	-moz-appearance:none;
	background: -moz-linear-gradient(top, rgba(243,228,171, .8), rgba(255, 255, 255, 0.8)) !important;
    border-width:0px !important;
    padding-left:0px;
    margin-bottom:0px;
    background-image:none !important;
}

.fintip_opaque {
	-moz-appearance:none;
	background-color: white !important;
    border-width:0px !important;
    padding:0px;
    margin-bottom:0px;
    background-image:none !important;
}

.progresstip_transparent {
	-moz-appearance:none;
	background-color: transparent !important;
    border-width:0px !important;
    padding-left:0px;
    margin-bottom:0px;
    background-image:none !important;
    
}

.progresstip_opaque {
	-moz-appearance:none;
	background-color: white !important;
    border-width:0px !important;
    padding:0px;
    margin-bottom:0px;
    background-image:none !important;
}

#_dlbar_finTipContent {
	background: #e8e8e8;
	/*background: -moz-linear-gradient(top, rgba(243,228,171, 0.95), rgba(255, 255, 255, 0.95));*/
	border-radius: 8px;
	border: 1px solid black;
	padding: 3px 15px 5px 15px;
}

#_dlbar_progTipContent {
	background: #e8e8e8;
	/*background: -moz-linear-gradient(top, rgba(243,228,171, 0.95), rgba(255, 255, 255, 0.95));*/
	border-radius: 8px;
	border: 1px solid black;
	padding: 3px 15px 5px 15px;
}

.db_tootipText {
	font-size: 8pt;
	color:black;
}

.db_tootipTitle {
	margin-top:8px;
	margin-left:15px;
	margin-bottom:2px;
	font-weight:bold;
	font-size:8pt;
	color: black;
}

.db_tooltipTextBox {
	font-size: 8pt;
	min-width:150px;
	/* color:black !important; 
	   background-color: white !important;
	   Color works but background color doesn't 
	   Have to use theme default */ 
}

.db_buttonText {
	font-size: 8pt;
	margin-right:3px;
	margin-left:3px;
}

.db_buttonTextMini {
	font-size: 7pt;
	margin-right:2px;
	margin-left:2px;
}

.db_seperatorThin {
	height: 5px;
}


/* new tooltip, with cloud save (12/4/2011) */
.align-right {
	text-align: right;
}

.em {
	color: #005d8b;
	font-weight: bold;
}

.row {
	padding: 3px 0;
}

.source-url {
	width: 100%;
	border: solid 1px #d8d8d8;
	-moz-appearance: none;
	padding: 3px 4px;
	width: 300px;
	background: #f6f6f6;
	margin-top: -2px;
}
