@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


.hidden {
	display: none;
}

/* context menu icon */
.dsb-context-menu-root {
	list-style-image: url(chrome://downbar/skin/downbarIcon.png);
}

/* notification box */
#dsbNotification .alertBox {
	background-color: white;
	padding: 5px 5px 10px 5px;
}

#dsbNotification #alertBox .alertImageBox {
    border: 0px solid black;
    padding-right: 5px;
}

#dsbNotification #alertTextBox {
    border: 0px solid black;
    padding-left: 5px;
}

#dsbNotification #alertTextLabel,
#dsbNotification #alertTitleLabel {
	max-width: 20em;
	cursor: pointer;
}


.close-box {
	position: absolute;
	top: 3px;
	right: 3px;
	cursor: pointer;
  border: 0px solid black;
}

#dsbNotification #adbox {
    padding: 10px;
    height: 250px;
    width: 300px;
}

#dsbNotification #adbox #ad {
    background-color: transparent;
}